<form class="mt-4" name="container-form" method="POST" action="/me/handle-form-actions">
  <h2>Trash</h2>

    <a href="/me/stored-courses">Back</a>

  <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all">
        Select all
      </label>
    </div>
    <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
      <option value="">Option</option>
      <option value="restore">Restore</option>
      <option value="delete">Destroy</option>
    </select>
    <button class="btn btn-primary btn-sm checkAllSubmit-btn" disabled>Confirm</button>

  </div>

  <table class="table mt-4">
    <thead>
      <tr>

        <th scope="col" colspan="2">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col" colspan="2">Slug</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
        </td>
        <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.image}}</td>
          <td>{{this.slug}}</td>
          <td>
            <a href="" class="btn-restore" id="btnRestore" data-id="{{this._id}}">Restore</a>
            <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}">Delete</a>
          </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          <p>Thùng rác trống!</p>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>



<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-course-modal">Destroy course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This action cannot be undone. Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-form" action=""></form>
<form method="POST" name="restore-form" action=""></form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var courseId
    var deleteForm = document.forms['delete-form']
    var restoreForm = document.forms['restore-form']
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    var btnRestore = $('.btn-restore')
    var checkboxAll = $('#checkbox-all')
    var courseItemCheckbox = $('input[name="courseIds[]"]')
    var checkAllSubmitBtn = $('.checkAllSubmit-btn')
    var containerForm = document.forms['container-form']

    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      courseId = button.data('id')

    })
    
    btnDeleteCourse.onclick = function() {
      deleteForm.action = '/courses/destroy/' + courseId + '?_method=DELETE'
      deleteForm.submit()
    }

    btnRestore.click(function(e) {
      e.preventDefault()
      var courseId = $(this).data('id')
      restoreForm.action = '/courses/restore/' + courseId + '?_method=PATCH'
      restoreForm.submit()
    })

    //Checkbox all -> check alll item
    checkboxAll.change(function () {
      var isCheckedAll = $(this).prop('checked')
      courseItemCheckbox.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()
    })
    //Check all item -> checkbox all
    courseItemCheckbox.change(function() {
      var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
      checkboxAll.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()
    })
    //function submitform
    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name="courseIds[]"]:checked').length
      if (checkedCount) {
        checkAllSubmitBtn.attr('disabled', false)
      }else {
        checkAllSubmitBtn.attr('disabled', true)
      }
    }
})
  
</script>